name: Déploiement JPro Maven sur GitHub Pages

on:
  push:
    branches: [ master ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Cloner le dépôt
        uses: actions/checkout@v4

      - name: Installer Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Construire le projet JPro
        run: mvn clean package

      - name: Créer le webapp JPro
        run: mvn com.sandec.jpro:jpro-maven-plugin:2024.2.3:webApp

      - name: Copier les fichiers générés
        run: |
         mkdir public
         cp -r target/jpro/webapp/* public/

      - name: Déployer sur GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
         github_token: ${{ secrets.GITHUB_TOKEN }}
         publish_dir: ./
